<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../../style/control.css">
    <link rel="stylesheet" href="../../../style/app.css">
    <title>博客</title>
</head>
<body class="body">
    <div class="blog-item"><div id="" class="shadowbox note-content"><h2 class="note-title">论魔方与编程的极其相似性</h2>
<hr>
<p class="note-tags to-remove"><i class="icon-bookmark"></i><code>魔方</code> <code>编程</code> </p>

<blockquote>
<p>   怎么说呢，作为本栏目的第一篇博客，不知道写点啥，有应付的嫌疑。话说，在一个月黑风高的晚上(气氛渲染)，我做了一个和魔方有关梦（故事背景），第二天，我居然心血来潮决定要玩魔方。在深入了解魔方后，我感觉到它与我们编程的耦合。
</p>
<p>
    魔方作为世界上三个最著名的智力玩具之一，以其特有的魅力吸引了无数魔友。
    魔方和编程，说实话，都是聪明人玩的东西，都语言极强的思维能力，都要求玩家有耐心与恒心。并且，魔方也有固定的结构与步骤，和编程一样也需要算法。
    魔方中的三阶不同的形态有4.3乘以10的19次方种，不得不令人着迷，而程序更是变化多端，每一个程序员对于同一个问题求解，几乎不会相同。魔方是手部极限运动，据说，一个人如果能解开任意五阶的情况，那么他的智力就在200以上，可见魔方对智力的要求。
    学习魔方和程序都能使人变得更聪明，更有耐心，更加细心，更重要的是富有挑战性，和成就感。还有魔方它可以与多个专业相联系：结构方面，可以与立体几何，建筑学相联系；工艺方面，可以与机械，机电一体化，产品设计联系；原料方面，可以与化学、化工和材料学相联系；内涵方面，可以与数学建模，计算机分析相联系；做为商品，可从经济学方面分析；作为文化载体，则涉及传播学，美学等人文学科；在对国外资料研究中，可使英语等外国语得到运用与训练。一个人眼中有一个哈姆雷特，而具有不同专业知识的同学必能从魔方中得出不同的感悟，同时通过魔方也能对本专业产生新的认识。这就和编程应用于很多领域相通。并且，魔方更具实战性，当你编程累时，不失为一种放松的途径，相比电脑游戏，我更欣赏魔方。
    所以，魔方确实是与编程有极其相似之处。

                                                                      ---秦卿(转载请注明出处)</p>

</blockquote>

</div>
        <!--兼容版，可保证页面完全兼容-->
<div id="SOHUCS"></div>
<script>
  (function(){
    var appid = 'cyrxhj7os',
    conf = 'prod_34b2ab97462c022b8508b82cbbd8cbbf';
    var doc = document,
    s = doc.createElement('script'),
    h = doc.getElementsByTagName('head')[0] || doc.head || doc.documentElement;
    s.type = 'text/javascript';
    s.charset = 'utf-8';
    s.src =  'http://assets.changyan.sohu.com/upload/changyan.js?conf='+ conf +'&appid=' + appid;
    h.insertBefore(s,h.firstChild);
  })()
</script>
</div>
</body>
</html>