<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../../style/control.css">
    <link rel="stylesheet" href="../../../style/app.css">
    <title>心情日记</title>
</head>
<body class="body">
    <div class="blog-item"><div id="" class="shadowbox note-content"><h2 class="note-title">读《挪威的森林》</h2>
<hr>
<p class="note-tags to-remove"><i class="icon-bookmark"></i><code>挪威的森林</code></p>

<blockquote>
<p>   看完挪威的森林这本书，感觉实在很好，本来不想把这写出来，原因就不明说了，可是又实在想和大家分享它的优美！所以就不顾什么了_，我以最纯洁的态度写，大家以最纯洁的目的看！
</p>
<p>
    以下是参考别人评价及我自己的理解:
    先姑且不讲人物，这本书给我最大的震撼是，人与人之间那绝对的真诚，无论什么事都用最真诚的态度表达，我感觉，这是最可贵的品质，村上把这一点写得淋漓尽致，还有就是他对人物心里和环境的描写很细很优美，我想这也是经典作品所独有的！
    渡边（主人公）之所以喜欢挪威的森林，很大的原因在于渡边这个人物给人以共鸣，村上以他敏锐的观察力和笔端塑造了这样一个忧郁文学青年的形象（你懂得）。渡边本身是一个充满矛盾的人，他善良，明事理，待人温柔和善。借用永泽的话来说：渡边是最地道的人。而同时他又是一个冷酷的人，不管是对于直子，绿子，再到自己，甚至大到世界本身，他都有着冷酷的一面，因为他本身不想让任何东西束缚住，从最本质的方面来说，渡边本身就是一个对于世界绝望的人，他不爱这个世界，（但是我可不绝望啊，我爱这世界）但他并没有选择直子木月的道路，而是带着这样的情绪和人生观一直漂泊于尘世之中，他甚至不需要任何人陪伴，一个人漂流。渡边朋友很少，他不与同学交朋友是因为他看不起那些俗不可奈卑鄙无耻的家伙。
    村上在塑造渡边这个人物的时候或多或少是有收到《麦田的守望者》霍尔顿的影响，从霍尔顿的眼中，这个世界是不正常的，而在世人的眼中，霍尔顿是不正常的，而渡边亦然。
    作为男主角，渡边其实起到的是一个观察者和叙述者的作用，他用他的眼睛看着他身边的人的一言一行，看着世界上形形色色人的一言一行。相信很多处于18岁到20岁的青年都会在渡边的身上找到一种共鸣，也就是一种所谓的亲切之感，这是因为渡边身上的些许忧愁，些许迷惘，些许愤怒曾经在我们的身上发生过，我们都曾经拥有着这样的情绪而在某个时候我们将它遗忘在某个角落，不曾记起。
    木月，渡边唯一的朋友，永远年轻，永远17岁的木月，在即将踏入18岁即将成年的时候，木月毅然结束了自己的生命（所以，想保持永远18岁，可以试试，呵呵）其实木月的作用是巨大的，如果没有木月，直子就不再是直子，而渡边也不再是渡边。木月是直子和渡边精神上的重要纽带。木月死后，渡边不断地回忆和怀念三个人在一起的时候，并称之为最美好的时刻。那种温馨舒畅的情景大概在生命中是无法希求而只能等待的。“可怜的木月”——渡边如是说。在木月的最后时刻，他选择了渡边一同度过，他在桌球上赢了渡边，特别是最后一个球，是一个很需要难度的球，木月用完美的一击作为他人生最后的光辉，同时也给了他视之为唯一朋友的渡边一生的印象。他用他那小小的才华拼尽全力得在渡边面前表现他最好的一面，同时也拼尽全力地试图将“永远天真，永远停留在孩童世界的自己和直子”拉进成人的现实世界。在他意识到他的努力没办法成功的时候，他选择了当一个永远的孩子，当然的 ，他成功了，他甚至成功地将恋人直子一起带走了，去到那个永远天真的孩童世界。
    直子，很喜欢直子这样的姑娘，直子给人的第一印象就是清醇，美丽，柔弱，多愁善感，惹人怜爱。我现在更加能够理解当时喜欢直子的原因，她是梦想的一种象征，是那种几乎无法实现的年少时候梦想的象征，她美得令人沉迷，美得令人心醉，美得令人悲伤，她纯洁如水，她虚无缥缈，她空灵寂静，然而那是无法实现和触摸到东西。渡边在很多年之后，想起直子的眼睛就悲哀地不能自己，那是空灵浩渺，死一般宁静的眼睛。她是不属于现实世界的，甚至是阿美寮那样的世外桃源都无法禁锢住她。死之精灵，我想这样形容她最好不过。严格地说，直子和木月是一体的，从三岁一起长大，形影不离，行为甚至意识都连成了一体，不可分割。她爱木月，也只能爱木月，这是直子唯一的病。正如同渡边十知道 ，八年后回忆直子的时候说的：直子连爱都没有爱过我。直子事实上把渡边当成了木月的替身，在心灵深处也希求着渡边能够扮演木月的角色，帮助她继续做着那遥不可及的梦想。在她清楚地意识到这是无法实现的情况下，她选择了木月的道路。这是爱的悲剧同时也是理想的悲剧，这是如同我们儿时梦想无法实现一般的巨大悲剧，同时也是全人类共同的悲剧。直子曾经让渡边答应她两件事，一件就是永远得记住她。我每次想起这句话就觉得直子是如此地聪慧和深刻，她在那个时候就完全明白了记忆的脆弱和时间的残酷，而大概在这个时候，直子就已经确立了自己的道路。而在渡边第一次去阿美寮探望直子的那个月光柔和的夜晚，直子将自己完美的肉体展现给渡边的这个举动，其目的和意义大概也是想让渡边能够永远记住她。绿子如果以前让我从直子和绿子中选择一个，我会毫不犹豫地选择直子。现在，我会毫无犹豫地选择绿子。
    一位网友评价说：绿子是挪威的森林中唯一正常的人。作为第二女主角，绿子拥有着现实世界女孩的太多的优点和缺点。懂事，孝敬，善良，美丽，真诚，天真而又不失深度（这点最不容易做到，深度这个词似乎包含很多，不过，最迷人）。简单地说：绿子是活生生的一个女孩，真实，活泼，动人。她是作为生之世界的代表存在的：经历过母亲父亲死亡洗礼的绿子依然能够健康积极地去面对生活，这样积极淳朴的人生观对于渡边几乎可以称之为救命稻草，倘若没有绿子的存在，敏感孤独的渡边必然也将追寻木月和直子而去。而在最后渡边在心里也认同并选择了绿子，这是渡边的幸运。我所喜欢的绿子拥有极其完美的品德：在贵族学校攀比之风盛行的时候，不卑不亢地认真生活；在母亲父亲病重的时候，勤勤恳恳地照料于病榻之前；在学习和生活的间隙之间，和姐姐一起努力经营家中小小的书店；这是如此淳朴和高尚的品德！无论任何人都应该敬重绿子，无论任何人都应该爱绿子。除了品质高尚，天真可爱，绿子的撒娇也给我留下了及其深刻详细的印象，比如她将爱比成酥饼的举动。多么天真烂漫调皮的姑娘，正常的人都不能够不爱她，即使是渡边这样的人。
    永泽书中唯一的强者，这是我对永泽的评价。永泽并不是一个坏人，他只是一个以绝对自我为中心，不在乎任何人眼光，永不认输，把任何人任何事物都当作游戏的现实世界的强者。不过我不赞同这样的人生。用尽最大的力量在现实世界往上爬——这是永泽的人生目标，当然的，他将这样的目标仅仅是当成了一种能够满足内心的游戏。他最大的优点是对他相对喜欢的人真诚（只能用相对这个词，永泽不会真心喜欢或者爱任何人），这是我唯一喜欢他的地方。这也是渡边唯一喜欢永泽的地方，相对于永泽的风度翩翩，他的才华洋溢，他的能力超群，他的努力奋进这些公认的优点，真诚这点更是弥足珍贵的品质。永泽早已洞悉了现实世界的规则。在他眼里，没有不可缺少的东西，所有的一切对于他来说大概只能称之为道具。其实从精神世界看，永泽和木月直子有共同点，那就是他们对于现实世界同样地绝望。只是在人生的道路上，他们做出的选择不同而已。大多数人之所以讨厌永泽，是出于对初美的喜爱和同情。永泽是极端自私的人，他永远永远不会去爱别人，即使是面对全身心投入的初美，永泽也只是以游戏般的情感回报而已。这是永泽最大的可恨之处，同样也是永泽最大的悲哀之处。在永泽和渡边分手的时候，永泽送给渡边一个忠告：不要同情自己！这是何等强悍的话语和人生观，这也在一定程度上给予了渡边走出泥潭的勇气。甚至连我自己都被这样的话语所打动，对，不要同情自己，作为一个男人。不过，永泽，你是好样的！
    我想。初美初美，最初的美。如同她的名字一般。她是美丽的女人，而她的美并不等同于简单意义上外表的美。渡边将之称为完美的女性。无论任何事情，初美都做得极端漂亮完美，她的气质高贵、典雅，初美的存在能提高周围环境的档次，即使是浑浊不堪的桌球室，只要有初美存在，就显示出美轮美奂的气势。相对直子梦幻般的美丽，初美的美丽更具有一种震撼人心的内在力量。渡边说：她的的确确是个不平凡的女性。初美的不幸在于爱上永泽这样的社会强者，以初美的聪慧和敏感早已经洞悉永泽的内心和需求，她甚至于能够猜到两人间最后不幸的结局，即使如此她还是爱着永泽直到最后。初美的要求实在再平常普通不过——只想生儿育女，晚上让心爱的人抱。悲伤的是，就连这样简单的梦想也无法实现。其他敢死队：好人，认真面对生活的有些病态的好人。
    绿子的父亲：好人，我喜欢他对于他老婆深刻的爱。
    玲子：直子死后，玲子成为了直子遗留在现实世界的一部分（玲子一直穿直子的衣服）而存在下来。
    这本书表达更多的是无奈，对爱情的无奈 对命运的无奈，他的书引起人的思考而不会提供什么明确的答案。我想，或许谁都没有明确的答案吧！答案，就在我们自己心中！它是一种对爱情的向往,而现实却挺让人失望，感情的无奈。表达了青少年面对青春期的孤独困惑以及面对成长的无奈、无聊。村上通过年轻人在社会压力下无法摆脱的生存痛苦，强调了主题：生命的悲哀与无力感。喜欢《挪威的森林》，可能是因为也嗅到了物欲时代的气息，那种绝望的孤独在物质世界里飘荡着，混乱的精神高地没有信仰。每一个时代的悲剧都是个人悲剧的组合体，人没有权利选择时代,只能承受。“假如你不想进精神病院，就要心胸豁达地委身于生活的河流”，这就是村上春树要告诉我们的。
    小说也告诉我们：成长是永远咀嚼不尽的话题。我们都有相同的经历与体验。有时候，自己虽然理解，但是不一定能表达出来，所以看看别人的理解，也是很好的。每一本书都有一个社会，几个人生，相同的环境，不同的选择，但都是对的！

                                                                      ---秦卿(转载请注明出处)</p>

</blockquote>

</div>
        <!-- UY BEGIN -->
        <div id="uyan_frame"></div>
        <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1996317"></script>
<!-- UY END -->
    </div>
</body>
</html>