#index {
    font-family: 'Times New Roman';
    background-image: url('../image/bak.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#main {
    margin:0 auto;
    width:80%;
}
#motto {
    font-size:500%;
    font-weight: bold;
    text-align: center;
    color: #cc9933;
    margin:0 auto;
    margin-top:100px;
    display:block;
}
#main span + span {
    font-size: 150%;
    margin-top: 3%;
    margin-right: 20%;
    float: right;
    display: inline-block;
}
#content {
    width: 20%;
    margin: 10% auto 0;
    clear: both;
}
#content li{
    font-size: 150%;
    text-align: center;
    margin: 10px;
}
.body{
    background-color:#FFFFee;
}
#blog-content{
    width: 35%;
    margin: 0 auto;
}
#think-content{
    width: 35%;
    margin: 0 auto;
}
#zheteng-content{
    width: 35%;
    margin: 0 auto;
}
.think-item{
    width: 50%;
    margin: 38px auto 100px;
}
.blog-item{
    width: 50%;
    margin: 38px auto 100px;
    border: 1px solid #CACACA;
    padding: 15px;
}
.zheteng-item{
    width: 50%;
    margin: 38px auto 100px;
}
#uyan_frame{
    margin-top: 50px;
    padding-top: 43px;
    border-top: 2px solid #cacaca;
}