<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../../style/control.css">
    <link rel="stylesheet" href="../../../style/app.css">
    <title>我的诗</title>
</head>
<body class="body">
    <div class="blog-item"><div id="" class="shadowbox note-content"><h2 class="note-title">夜雪痕</h2>
<hr>
<p class="note-tags to-remove"><i class="icon-bookmark"></i><code>挪威的森林</code></p>

<blockquote>
<p>   2014年2月，夜深无睡意，窗外雪花飘，遂坐观雪景。成《夜雪痕》
</p>
<p>
                习惯了这样的寒冷，
                喜欢了这样的寂寥，
                习惯了，
                反正只要是习惯了，
                就都无所谓了。

                院子里踩着的雪，
                咯吱咯吱的响，
                不知道雪儿是否疼痛，
                不知道夜是否心疼，
                也许会，
                也许不会。

                但是，
                我喜欢这样一脚一脚踩下去，
                因为这声音让我心里踏实，
                因为我知道，
                只有踏踏实实的踩在上面才会发出这样的声音，
                滑行是发不出这样的声音的！

                深夜，零点，
                家人都已熟于梦乡，
                透过我房间窗户的灯光下，
                一步一步的，
                小心翼翼的，
                没有目的的，
                走着，走着…

                不，
                我是有目的的，
                我是要踩遍那白雪，
                我想，
                是不是喜欢在移动中思考的感觉，
                还是因为这不困的可爱的夜？


                                                                      ---秦卿 2014.2.5夜(转载请注明出处)</p>

</blockquote>

</div>
        <!-- UY BEGIN -->
        <div id="uyan_frame"></div>
        <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1996317"></script>
<!-- UY END -->
    </div>
</body>
</html>