<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../../style/control.css">
    <link rel="stylesheet" href="../../../style/app.css">
    <title>博客</title>
</head>
<body class="body">
    <div class="blog-item"><div id="" class="shadowbox note-content"><h2 class="note-title">完美解决Linux下Sublime Text中文输入</h2>
<hr>
<p class="note-tags to-remove"><i class="icon-bookmark"></i><code>Linux</code> <code>Sublime Text</code> <code>中文</code> </p>
<p><strong><a href="http://www.sublimetext.com/" target="_blank">Sublime Text</a></strong>具有漂亮的用户界面和强大的功能，曾经使用的Vim都抛弃了，但是在使用的过程中，它却不支持中文输入，一次次的纠结写注释，下面的方法亲测有效哟！<br></p>
<h3>1、保存下面代码为sublime_imfix.c：</h3>

<blockquote>
<pre class="hljs-dark">
	<code class="hljs javascript"> 
/*
	sublime-imfix.c
	Use LD_PRELOAD to interpose some function to fix sublime input method support for linux.
	By Cjacker Huang <jianzhong.huang at i-soft.com.cn>

	gcc -shared -o libsublime-imfix.so sublime_imfix.c  `pkg-config --libs --cflags gtk+-2.0` -fPIC
	LD_PRELOAD=./libsublime-imfix.so sublime_text
*/
 <span class="hljs-keyword">#include <span class="hljs-string">&ltgtk/gtk.h&gt</span>
 #include <span class="hljs-string">&ltgdk/gdkx.h&gt</span></span>
 <span class="hljs-keyword">typedef</span> GdkSegment GdkRegionBox;
 <span class="hljs-keyword">struct</span> _GdkRegion
   {
     long size;
     long numRects;
     GdkRegionBox *rects;
     GdkRegionBox extents;
   };

 GtkIMContext *local_context;

 void  <span class="hljs-function">gdk_region_get_clipbox</span> (<span class="hljs-number">const GdkRegion *region, GdkRectangle *rectangle</span>)
 {
   g_return_if_fail (region != NULL);
   g_return_if_fail (rectangle != ,
   rectangle->x = region->extents.x1;
   rectangle->y = region->extents.y1;
   rectangle->width = region->extents.x2 - extents.x1;
   rectangle->height = region->extents.y2 - extents.y1;
   GdkRectangle rect;
   rect.x = rectangle->x;
   rect.y = rectangle->y;
   rect.width = 0;
   rect.height = rectangle->height;
   <span class="hljs-keyword">//</span><span class="hljs-string">The caret width is 2;</span> 
   <span class="hljs-keyword">//</span><span class="hljs-string">Maybe sometimes we will make a mistake, but for most of the time, it should be the caret.</span> 
   if(rectangle->width == 2 && GTK_IS_IM_CONTEXT(local_context)) {
         gtk_im_context_set_cursor_location(local_context, rectangle);
   }
 }
 <span class="hljs-keyword">//</span><span class="hljs-string">this is needed, for example, if you input something in file dialog and return back the edit area.</span>
 <span class="hljs-keyword">//</span><span class="hljs-string">context will lost, so here we set it again.</span>

 static GdkFilterReturn <span class="hljs-keyword">event_filter</span> (<span class="hljs-number">GdkXEvent *xevent, GdkEvent *event, gpointer im_context</span>)
 {
    XEvent *xev = (XEvent *)xevent;
    if(xev->type == KeyRelease && GTK_IS_IM_CONTEXT(im_context)) {
      GdkWindow * win = g_object_get_data(G_OBJECT(im_context),"window");
      if(GDK_IS_WINDOW(win))
        gtk_im_context_set_client_window(im_context, win);
    }
    <span class="hljs-keyword">return</span> GDK_FILTER_CONTINUE;
 }

 void <span class="hljs-keyword">gtk_im_context_set_client_window</span> (<span class="hljs-number">GtkIMContext *context,GdkWindow *window</span>)
 {
   GtkIMContextClass *klass;
   g_return_if_fail (GTK_IS_IM_CONTEXT (context));
   klass = GTK_IM_CONTEXT_GET_CLASS (context);
   if (klass->set_client_window)
      klass->set_client_window (context, window);

   if(!GDK_IS_WINDOW (window))
      <span class="hljs-keyword">return</span>;
   g_object_set_data(G_OBJECT(context),"window",window);
   int width = gdk_window_get_width(window);
   int height = gdk_window_get_height(window);
   if(width != 0 && height !=0) {
     gtk_im_context_focus_in(context);
     local_context = context;
   }
   gdk_window_add_filter (window, event_filter, context);
 }
</code></pre>
</blockquote>

<h3>2、编译动态库：</h3>

<blockquote>
<pre class="hljs-dark">
  <code class="hljs javascript"> 
    <sapn class="hljs-keyword">gcc</span> <span class="hljs-number">-</span>shared <span class="hljs-number">-o</span> <span class="hljs-string">libsublime-imfix.so sublime_imfix.c  `pkg-config --libs --cflags gtk+-2.0`</span> <span class="hljs-number">-</span>fPIC
</code></pre>
<p>需要自行安装编译环境以及GTK的dev包，GTK的dev包安装方式如下：</p>
<pre class="hljs-dark">
  <code class="hljs javascript"> 
    <sapn class="hljs-keyword">sudo apt-get install</span> <span class="hljs-number">-</span>build-essential <span class="hljs-string">libgtk2.0-dev</span>
</code></pre>
</blockquote>

<h3>3、设置LD_PRELOAD并启动Sublime Text：</h3>
<blockquote>
<pre class="hljs-dark">
  <code class="hljs javascript"> 
    <sapn class="hljs-keyword">LD_PRELOAD=./libsublime-imfix.so subl</span> 
</code></pre>
<p>为了不用每次启动Sublime Text都打如上代码，可以修改Sublime Text的启动脚本，默认路径为/usr/bin/subl，修改为如下内容，这样就可以在linux下使用Sublime Text进行中文文档编辑了：</p>
<pre class="hljs-dark">
  <code class="hljs javascript"> 
    <sapn class="hljs-string">#!/bin/bash</span> 
      <span class="hljs-keyword">SUBLIME_HOME="/opt/sublime_text"</span>
      <span class="hljs-keyword">LD_LIB=$SUBLIME_HOME/libsublime-imfix.so</span>
      <span class="hljs-keyword">sh -c "LD_PRELOAD=$LD_LIB $SUBLIME_HOME/sublime_text $@"</span>
</code></pre>
</blockquote>

</div>
        <!-- UY BEGIN -->
        <div id="uyan_frame"></div>
        <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js"></script>
<!-- UY END -->
    </div>
</body>
</html>