<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../style/control.css">
    <link rel="stylesheet" href="http://maxiang.qiniudn.com/app/css/app.css?1408270014">
    <title>博客</title>
</head>
<body class="body">
    <div class="blog-item"><div id="" class="shadowbox note-content"><h2 class="note-title">终于找到了正确的拷贝方式</h2>
<h4>之前</h4>
<ul>
<li>之前写文章的时候都是在马克飞象里面写然后把生成的文本拷到富文本编辑器里最后把生成的代码在拷入html页面中.感觉这样非常麻烦而且最后生成的格式有轻微的变形</li>
</ul>
<h4>现在</h4>
<ul>
<li>现在是把<a href="http://maxiang.info/" target="_blank">http://maxiang.info/</a> 里面的预览部分代码直接剪切,然后将 <a href="http://maxiang.qiniudn.com/app/css/app.css?1408270014" target="_blank">http://maxiang.qiniudn.com/app/css/app.css?1408270014</a> 这个css放进去就可以了,方便了很多,而且百分百保持了markdown的风格.</li>
</ul>
</div>        <!-- UY BEGIN -->
        <div id="uyan_frame" style="margin-top: 50px;"></div>
        <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1957046"></script>
        <!-- UY END -->
    </div>
</body>
</html>