<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../style/control.css">
    <title>折腾</title>
</head>
<body class="body">
    <div class="think-item">
        <h1 class="note-title" style="box-sizing: border-box; font-size: 36px; margin: 0px 0px 20px; font-family: &#39;Helvetica Neue&#39;, Arial, &#39;Hiragino Sans GB&#39;, STHeiti, &#39;Microsoft YaHei&#39;, &#39;WenQuanYi Micro Hei&#39;, SimSun, Song, sans-serif; line-height: 1.1; color: rgb(22, 32, 41); white-space: normal;">
    基于github的博客系统
</h1>
<hr style="box-sizing: content-box; height: 0px; margin-top: 20px; margin-bottom: 20px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-top-style: solid; border-top-color: rgba(102, 128, 153, 0.14902); line-height: 22.399999618530273px; color: rgb(22, 32, 41); font-family: &#39;Helvetica Neue&#39;, Arial, &#39;Hiragino Sans GB&#39;, STHeiti, &#39;Microsoft YaHei&#39;, &#39;WenQuanYi Micro Hei&#39;, SimSun, Song, sans-serif; font-size: 14px; white-space: normal;"/>
<h2 style="box-sizing: border-box; font-family: &#39;Helvetica Neue&#39;, Arial, &#39;Hiragino Sans GB&#39;, STHeiti, &#39;Microsoft YaHei&#39;, &#39;WenQuanYi Micro Hei&#39;, SimSun, Song, sans-serif; line-height: 1.1; color: rgb(22, 32, 41); margin-top: 30px; margin-bottom: 20px; font-size: 30px; white-space: normal;">
    起因
</h2>
<p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 10px; line-height: 22.399999618530273px; white-space: pre-wrap; word-wrap: break-word; color: rgb(22, 32, 41); font-family: &#39;Helvetica Neue&#39;, Arial, &#39;Hiragino Sans GB&#39;, STHeiti, &#39;Microsoft YaHei&#39;, &#39;WenQuanYi Micro Hei&#39;, SimSun, Song, sans-serif; font-size: 14px;">
    今天看到了<a href="http://lankeren.com/" target="_blank" style="box-sizing: border-box; background-color: transparent; color: rgb(32, 128, 223); text-decoration: none; outline: 0px; transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out, border-color 0.15s ease-in-out; -webkit-transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out, border-color 0.15s ease-in-out; background-position: initial initial; background-repeat: initial initial;">祥哥</a>的博客做的非常漂亮于是乎心生羡慕便决定自己也做一个,但考虑到资金问题.....自然是越便宜越好,木办法,抠门习惯了.
</p>
<hr style="box-sizing: content-box; height: 0px; margin-top: 20px; margin-bottom: 20px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-top-style: solid; border-top-color: rgba(102, 128, 153, 0.14902); line-height: 22.399999618530273px; color: rgb(22, 32, 41); font-family: &#39;Helvetica Neue&#39;, Arial, &#39;Hiragino Sans GB&#39;, STHeiti, &#39;Microsoft YaHei&#39;, &#39;WenQuanYi Micro Hei&#39;, SimSun, Song, sans-serif; font-size: 14px; white-space: normal;"/>
<h2 style="box-sizing: border-box; font-family: &#39;Helvetica Neue&#39;, Arial, &#39;Hiragino Sans GB&#39;, STHeiti, &#39;Microsoft YaHei&#39;, &#39;WenQuanYi Micro Hei&#39;, SimSun, Song, sans-serif; line-height: 1.1; color: rgb(22, 32, 41); margin-top: 30px; margin-bottom: 20px; font-size: 30px; white-space: normal;">
    想法
</h2>
<p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 10px; line-height: 22.399999618530273px; white-space: pre-wrap; word-wrap: break-word; color: rgb(22, 32, 41); font-family: &#39;Helvetica Neue&#39;, Arial, &#39;Hiragino Sans GB&#39;, STHeiti, &#39;Microsoft YaHei&#39;, &#39;WenQuanYi Micro Hei&#39;, SimSun, Song, sans-serif; font-size: 14px;">
    想搭一个完全免费的,依赖以下两个工具
</p>
<ul style="box-sizing: border-box; margin-top: 0px; margin-bottom: 10px; line-height: 22.399999618530273px; color: rgb(22, 32, 41); font-family: &#39;Helvetica Neue&#39;, Arial, &#39;Hiragino Sans GB&#39;, STHeiti, &#39;Microsoft YaHei&#39;, &#39;WenQuanYi Micro Hei&#39;, SimSun, Song, sans-serif; font-size: 14px; white-space: normal;">
    <li style="box-sizing: border-box; line-height: 1.6;">
        <span style="box-sizing: border-box; font-weight: 700;">GitHub</span>提供一个免费的静态网站托管功能<a href="https://pages.github.com/" target="_blank" style="box-sizing: border-box; background-color: transparent; color: rgb(32, 128, 223); text-decoration: none; outline: 0px; transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out, border-color 0.15s ease-in-out; -webkit-transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out, border-color 0.15s ease-in-out; background-position: initial initial; background-repeat: initial initial;">GitHub Pages</a>
    </li>
    <li style="box-sizing: border-box; line-height: 1.6;">
        <span style="box-sizing: border-box; font-weight: 700;">MarkDown</span>漂亮的文字编辑
    </li>
</ul>
<hr style="box-sizing: content-box; height: 0px; margin-top: 20px; margin-bottom: 20px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-top-style: solid; border-top-color: rgba(102, 128, 153, 0.14902); line-height: 22.399999618530273px; color: rgb(22, 32, 41); font-family: &#39;Helvetica Neue&#39;, Arial, &#39;Hiragino Sans GB&#39;, STHeiti, &#39;Microsoft YaHei&#39;, &#39;WenQuanYi Micro Hei&#39;, SimSun, Song, sans-serif; font-size: 14px; white-space: normal;"/>
<h2 style="box-sizing: border-box; font-family: &#39;Helvetica Neue&#39;, Arial, &#39;Hiragino Sans GB&#39;, STHeiti, &#39;Microsoft YaHei&#39;, &#39;WenQuanYi Micro Hei&#39;, SimSun, Song, sans-serif; line-height: 1.1; color: rgb(22, 32, 41); margin-top: 30px; margin-bottom: 20px; font-size: 30px; white-space: normal;">
    结果
</h2>
<p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 10px; line-height: 22.399999618530273px; white-space: pre-wrap; word-wrap: break-word; color: rgb(22, 32, 41); font-family: &#39;Helvetica Neue&#39;, Arial, &#39;Hiragino Sans GB&#39;, STHeiti, &#39;Microsoft YaHei&#39;, &#39;WenQuanYi Micro Hei&#39;, SimSun, Song, sans-serif; font-size: 14px;">
    就有了现在这个东西
</p>
<hr style="box-sizing: content-box; height: 0px; margin-top: 20px; margin-bottom: 20px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-top-style: solid; border-top-color: rgba(102, 128, 153, 0.14902); line-height: 22.399999618530273px; color: rgb(22, 32, 41); font-family: &#39;Helvetica Neue&#39;, Arial, &#39;Hiragino Sans GB&#39;, STHeiti, &#39;Microsoft YaHei&#39;, &#39;WenQuanYi Micro Hei&#39;, SimSun, Song, sans-serif; font-size: 14px; white-space: normal;"/>
<h2 style="box-sizing: border-box; font-family: &#39;Helvetica Neue&#39;, Arial, &#39;Hiragino Sans GB&#39;, STHeiti, &#39;Microsoft YaHei&#39;, &#39;WenQuanYi Micro Hei&#39;, SimSun, Song, sans-serif; line-height: 1.1; color: rgb(22, 32, 41); margin-top: 30px; margin-bottom: 20px; font-size: 30px; white-space: normal;">
    后续
</h2>
<p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 10px; line-height: 22.399999618530273px; white-space: pre-wrap; word-wrap: break-word; color: rgb(22, 32, 41); font-family: &#39;Helvetica Neue&#39;, Arial, &#39;Hiragino Sans GB&#39;, STHeiti, &#39;Microsoft YaHei&#39;, &#39;WenQuanYi Micro Hei&#39;, SimSun, Song, sans-serif; font-size: 14px;">
    另外还想实现一个文字自动转换成需要的html功能,因为拷来拷去确实比较麻烦,这个要写一下shell脚本了,留待下次折腾
</p>

    <!-- UY BEGIN -->
    <div id="uyan_frame" style="margin-top: 50px;"></div>
    <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1957046"></script>
    <!-- UY END -->
    </div>
</body>
</html>