<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../style/control.css">
    <link rel="stylesheet" href="http://maxiang.qiniudn.com/app/css/app.css?1408270014">
    <title>博客</title>
</head>
<body class="body">
    <div class="blog-item"><div id="" class="shadowbox note-content"><h2 class="note-title">ubuntu开机启动脚本</h2>
<hr>
<p>一个简单方法:</p>
<ul>
<li><code>在/etc/init.d/rc.local的最后加上脚本完整路径就行了</code></li>
</ul>
</div>        <!-- UY BEGIN -->
        <div id="uyan_frame" style="margin-top: 50px;"></div>
        <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1957046"></script>
        <!-- UY END -->
    </div>
</body>
</html>