<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../style/reset.css">
    <link rel="stylesheet" type="text/css" href="../../style/control.css">
    <title>折腾列表</title>
</head>
<body class="body">
    <div id="zheteng-content">
        <h1 style="box-sizing: border-box; font-size: 2.25em; margin-right: 0px; margin-bottom: 16px; margin-left: 0px; line-height: 1.2; position: relative; padding-bottom: 0.3em; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(238, 238, 238); color: rgb(51, 51, 51); font-family: 'Helvetica Neue', Helvetica, Arial, freesans, sans-serif; white-space: normal; margin-top: 0px !important;">
        爱折腾
      </h1>
        <ul style="box-sizing: border-box; margin-top: 0px; margin-bottom: 10px; line-height: 22.399999618530273px; color: rgb(22, 32, 41); font-family: &#39;Helvetica Neue&#39;, Arial, &#39;Hiragino Sans GB&#39;, STHeiti, &#39;Microsoft YaHei&#39;, &#39;WenQuanYi Micro Hei&#39;, SimSun, Song, sans-serif; font-size: 14px; white-space: normal;">
    <!--daitihuan-->
<li style="box-sizing: border-box; line-height: 1.6;">
                2014-8-30 -&gt;&nbsp;<a href="2014-8-30.html" target="_blank" style="box-sizing: border-box; background-color: transparent; color: rgb(32, 128, 223); text-decoration: none; outline: 0px; transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out, border-color 0.15s ease-in-out; -webkit-transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out, border-color 0.15s ease-in-out; background-position: initial initial; background-repeat: initial initial;">ubuntu开机启动脚本</a>
</li><li style="box-sizing: border-box; line-height: 1.6;">
                2014-8-27_1 -&gt;&nbsp;<a href="2014-8-27_1.html" target="_blank" style="box-sizing: border-box; background-color: transparent; color: rgb(32, 128, 223); text-decoration: none; outline: 0px; transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out, border-color 0.15s ease-in-out; -webkit-transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out, border-color 0.15s ease-in-out; background-position: initial initial; background-repeat: initial initial;">终于找到了正确的拷贝方式</a>
</li><li style="box-sizing: border-box; line-height: 1.6;">
                2014-8-27 -&gt;&nbsp;<a href="2014-8-27.html" target="_blank" style="box-sizing: border-box; background-color: transparent; color: rgb(32, 128, 223); text-decoration: none; outline: 0px; transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out, border-color 0.15s ease-in-out; -webkit-transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out, border-color 0.15s ease-in-out; background-position: initial initial; background-repeat: initial initial;">欢迎使用马克飞象</a>
</li><li style="box-sizing: border-box; line-height: 1.6;">
                2014-8-13 -&gt;&nbsp;<a href="2014-8-13.html" target="_blank" style="box-sizing: border-box; background-color: transparent; color: rgb(32, 128, 223); text-decoration: none; outline: 0px; transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out, border-color 0.15s ease-in-out; -webkit-transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out, border-color 0.15s ease-in-out; background-position: initial initial; background-repeat: initial initial;">添加评论功能</a>
</li><li style="box-sizing: border-box; line-height: 1.6;">
                2014-8-11 -&gt;&nbsp;<a href="2014-8-11.html" target="_blank" style="box-sizing: border-box; background-color: transparent; color: rgb(32, 128, 223); text-decoration: none; outline: 0px; transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out, border-color 0.15s ease-in-out; -webkit-transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out, border-color 0.15s ease-in-out; background-position: initial initial; background-repeat: initial initial;">继续博客拷贝shell编写</a>
</li>            
            <li style="box-sizing: border-box; line-height: 1.6;">
                2014-8-9 -&gt;&nbsp;<a href="2014-8-9.html" target="_blank" style="box-sizing: border-box; background-color: transparent; color: rgb(32, 128, 223); text-decoration: none; outline: 0px; transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out, border-color 0.15s ease-in-out; -webkit-transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out, border-color 0.15s ease-in-out; background-position: initial initial; background-repeat: initial initial;">博客shell测试</a>
            </li>
            <li style="box-sizing: border-box; line-height: 1.6;">
                2014-8-7 -&gt;&nbsp;<a href="2014-8-7.html" target="_blank" style="box-sizing: border-box; background-color: transparent; color: rgb(32, 128, 223); text-decoration: none; outline: 0px; transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out, border-color 0.15s ease-in-out; -webkit-transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out, border-color 0.15s ease-in-out; background-position: initial initial; background-repeat: initial initial;">基于github的博客系统</a>
            </li>
        </ul>
    </div>
</body>
</html>