<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../style/control.css">
    <link rel="stylesheet" href="../../style/app.css">
    <title>About me</title>
</head>
<body class="body">
    <div class="blog-item"><div id="" class="shadowbox note-content"><h2 class="note-title">关于我</h2>
<hr>
<p class="note-tags to-remove"><i class="icon-bookmark"></i><code>About me</code></p>

<blockquote>
<p>  一个有着文艺气息的工科生，喜爱诗歌，书法，网球，现为大学在校生</a>
</p>    
<p>
	我在知乎<a href="http://www.zhihu.com/people/greendayprince">童心未泯的程序员</a>
</p>
<p>
	我在CSDN<a href="http://blog.csdn.net/zzucsliang">恰同学少年</a>
</p>
<p>
	联系我:<img src="../../image/source/myemail.png"></img>
</p>
</blockquote>

</div>
        <!--兼容版，可保证页面完全兼容-->
<div id="SOHUCS"></div>
<script>
  (function(){
    var appid = 'cyrxhj7os',
    conf = 'prod_34b2ab97462c022b8508b82cbbd8cbbf';
    var doc = document,
    s = doc.createElement('script'),
    h = doc.getElementsByTagName('head')[0] || doc.head || doc.documentElement;
    s.type = 'text/javascript';
    s.charset = 'utf-8';
    s.src =  'http://assets.changyan.sohu.com/upload/changyan.js?conf='+ conf +'&appid=' + appid;
    h.insertBefore(s,h.firstChild);
  })()
</script>

    </div>
</body>
</html>