<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../style/control.css">
    <link rel="stylesheet" href="../../style/app.css">
    <title>简历</title>
</head>
<body class="body">
    <div class="blog-item"><div id="" class="shadowbox note-content"><h2 class="note-title">王国梁</h2>

<hr>
<h4>联系方式</h4>
<p>	<font size='4'>
	电子邮箱:<img src="../../image/source/myemail.png"></img>
	个人博客：<a href="http://wgliang.github.com/">个人博客</a>
			& CSDN<a href="http://blog.csdn.net/zzucsliang">恰同学少年</a>
	</font>
</p>
<hr>
<h4>教育经历</h4>
<p>	<font size='4'>
	郑州大学计算机科学与技术本科 2012.9--至今
	</font>
</p>
<hr>
<h4>项目经历</h4>
<h5><font size='3'>&nbsp;&nbsp;&nbsp;&nbsp;A J2EE-based campus community website project &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--2014.9——2014.12</font></h5>
<div>	<font size='4'>
	<li>基于J2EE架构的校园社区，特色的校内社交网站</li>
	<li>使用JavaScript增强交互性</li>
	<li>初试HTML5和CSS3技术，使用MySQL数据库设计</li>
	<li>负责系统架构、部分后台开发和UI设计以及项目团队管理</li>
	</font>
</div>
<h5><font size='3'>&nbsp;&nbsp;&nbsp;&nbsp;A microcontroller-based(SCM) development of intelligent robots &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--2014.6——2014.8</font></h5>
<div>	<font size='4'>
	<li>基于博创科技系列嵌入式单片机的仿人型擂台竞赛智能机器人</li>
	<li>负责单片机开发及算法设计，主要是机器人基于图搜索算法的寻敌和攻击路线</li>
	<li>机器人头部、手臂和运动的协调和结合</li>
	<li>获得2014“尙和杯”中国机器人大赛暨RoboCup公开赛分项赛（北京）机器人武术擂台赛非标准平台仿人项目 二等奖</li>
	</font>
</div>
<h5><font size='3'>&nbsp;&nbsp;&nbsp;&nbsp;An intelligent robot based microcontroller ATmega128 8-bit family development &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--2014.3——2014.5</font></h5>
<div>	<font size='4'>
	<li>基于ATMEL公司Atmega128系列单片机的仿人型智能机器人</li>
	<li>负责单片机开发及机器人路线寻找、避障和攻击的C/C++算法设计</li>
	<li>机器人的稳定性测试和调试</li>
	<li>获得第一届河南省创新机器人大赛二等奖</li>
	</font>
</div>
<h5><font size='3'>&nbsp;&nbsp;&nbsp;&nbsp;An integrated system for garbage on tall buildings that cleaning up and monitoring  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--2013.6——2014.5</font></h5>
<div>	<font size='4'>
	&nbsp;&nbsp;&nbsp;&nbsp;<h6>专利审查中...</h6>
	<li>针对于高楼垃圾监测及运输清理的一体化系统模型</li>
	<li>负责电路设计和单片机开发</li>
	<li>使用C语言的基于电梯运输的调度算法设计</li>
	<li>郑州大学大学生科技创新项目</li>
	</font>
</div>
<h5><font size='3'>&nbsp;&nbsp;&nbsp;&nbsp;Racing intelligent humanoid robot &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--2013.8——2013.10</font></h5>
<div>	<font size='4'>
	<li>基于博创公司系列标准套件的仿人型竞速智能机器人</li>
	<li>C语言算法程序设计，解决机器人肢体和头部协调和行走动作设计</li>
	<li>主要困难在于机器人行走速度和稳定性的结合</li>
	<li>获得2013中国机器人大赛暨RoboCup公开赛（合肥）仿人机器人竞速比赛标准组二等奖</li>
	</font>
</div>
<hr>
<h4>工作/实习经历</h4>
<div>	<font size='4'>
	<li>校教务处助理(两年)，工作内容为帮助教务处老师处理学校教务工作和一些计算机方面技术支持</li>
	</font>
</div>
<hr>
<h4>学习经历</h4>
<div>	<font size='4'>
	<li>大一加入学校机器人实验室学习单片机开发，制作智能机器人，在实验室期间参加过两次中国机器人大赛和一次河南省机器人大赛并获得不错成绩</li>
	<li>语言技能：以上做的项目都是使用C/C++系统和底层方面的开发；使用过JavaScript/PHP等开发过简单的小项目(网页游戏和简单应用);熟悉Java，有过基于J2EE开发的网站项目(详细见<a href="http://wgliang.github.io/view/projects/boyuebbs.html">项目</a>)</li>
	<li>一直在Linux编程和学习</li>
	<li>一直在进行算法设计和编程能力(C/C++)的训练(详细见我的<a href="#">个人博客</a>)</li>
	<li>由于有嵌入式方面的开发基础，14年6月开始学习网络编程，目前在看nginx源码，学习高性能服务器端开发(并决定了以此为今后方向)</li>
	</font>
</div>

<hr>
<h4>获得奖励</h4>
<div>	<font size='4'>
	<li>2014年郑州大学奖学金</li>
	<li>2013年郑州大学优秀学生干部</li>
	<li>2014“尙和杯”中国机器人大赛暨RoboCup公开赛分项赛（北京）机器人武术擂台赛非标准平台仿人项目 二等奖</li>
	<li>2014年第一届河南省创新机器人大赛二等奖</li>
	<li>2014年完成郑州大学大学生科技创新项目并申请了专利</li>
	<li>2013中国机器人大赛暨RoboCup公开赛（合肥）仿人机器人竞速比赛标准组二等奖</li>
	</font>
</div>
<hr>
<h4>个人技能</h4>
<div>	<font size='4'>
	<li>CET-6，良好的英语听说能力</li>
	<li>一直担任班干部</li>
	</font>
</div>
<h4>个人爱好</h4>
<div>	<font size='4'>
	<li>爱好诗词并自己一直在写</li>
	<li>文笔流畅，文字控</li>
	<li>喜欢在球场打网球</li>
	</font>
</div>
<hr>
<h4>自我评价</h4>
<div>	<font size='4'>
	<li>十分热爱互联网，对网络一直又很强的好奇心和学习欲望，时刻关注互联网和科技动态</li>
	<li>性格开朗，团队荣誉感强</li>
	<li>擅长时间管理和计划，执行力很强</li>
	<li>追求完美，工作狂(个人感觉自己因为喜欢这个职业才这样)</li>
	</font>
</div>
<hr>
<h4>实习意愿</h4>
<div>	<font size='4'>
	<li>基本的生活保障</li>
	<li>能提供与团队开发项目机会</li>
	<li>尽量能提供技术研发：服务器或后台开发或系统工程师相关的职位，最好是C/C++方面的，当然前端开发也可以</li>
	<li>可以的实习时间为2015.2--2015.4(过年期间)、2015.7--2015.9</li>
	<li>如果您能提供机会的的话可以联系我，谢谢！</li>
	</font>
</div>
</div>
        <!--兼容版，可保证页面完全兼容-->
<div id="SOHUCS"></div>
<script>
  (function(){
    var appid = 'cyrxhj7os',
    conf = 'prod_34b2ab97462c022b8508b82cbbd8cbbf';
    var doc = document,
    s = doc.createElement('script'),
    h = doc.getElementsByTagName('head')[0] || doc.head || doc.documentElement;
    s.type = 'text/javascript';
    s.charset = 'utf-8';
    s.src =  'http://assets.changyan.sohu.com/upload/changyan.js?conf='+ conf +'&appid=' + appid;
    h.insertBefore(s,h.firstChild);
  })()
</script>
</div>
</body>
</html>