<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../style/control.css">
    <link rel="stylesheet" href="../../style/app.css">
    <title>Nginx</title>
</head>
<body class="body">
    <div class="blog-item"><div id="" class="shadowbox note-content"><h2 class="note-title">项目>Nginx</h2>
<hr>
<p class="note-tags to-remove"><i class="icon-bookmark"></i><code>Nginx</code></p>

<blockquote>
<p>   最近在学习nginx，并且在学习源码，就先上个图吧！图来源自淘宝大牛<a href="http://www.zhihu.com/people/shudu">@叔度</a>
</p>
<p>
<img src="../../../image/source/nginx_struct.jpg">
</p>     

</blockquote>

</div>
        <!-- UY BEGIN -->
        <div id="uyan_frame"></div>
        <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1996317"></script>
<!-- UY END -->
    </div>
</body>
</html>