<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../style/control.css">
    <link rel="stylesheet" href="http://maxiang.qiniudn.com/app/css/app.css?1408270014">
    <title>博客</title>
</head>
<body class="body">
    <div class="blog-item"><div id="" class="shadowbox note-content"><h3 class="note-title">联系方式</h3>
<ul>
<li>手机: 18353362753</li>
<li>Email: chenmingang86@163.com</li>
<li>QQ: 1026610078</li>
</ul>
<h3>个人信息</h3>
<ul>
<li>陈敏冈/男/1991</li>
<li>山东理工大学/本科/淄博</li>
<li>应届毕业生</li>
<li>技术博客：<a href="http://chenmingang.github.io" target="_blank">http://chenmingang.github.io</a><br>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://chenmingang.diandian.com" target="_blank">http://chenmingang.diandian.com</a></li>
<li>期望职位：Java web工程师</li>
</ul>
<h3>自我评价</h3>
<ul>
<li>本人热爱编程,有较强的学习能力,喜欢钻研新技术,有良好的团队协作能力</li>
</ul>
<h3>技能清单</h3>
<ul>
<li>编程语言: 熟练使用java,用Nodejs写过示例型博客系统,会写基本shell脚本</li>
<li>Web框架: 熟练使用seam(JSF+EJB+JPA)拥有丰富的开发经验,熟悉SSH和spring mvc</li>
<li>前端框架: 熟练使用Bootstrap,jQuery,HighChart,Dygraphs,UEditor</li>
<li>服务器: JBoss5,JBoss7,Tomcat,jetty</li>
<li>数据库相关: 熟练使用Postgresql的存储过程和触发器,熟悉mysql</li>
<li>部署工具: maven,ant</li>
<li>版本控制: svn,git</li>
<li>开发工具: 熟悉linux开发环境,熟练使用eclipse,sublime,vim</li>
<li>其他: 熟悉各种设计模式,Android开发,java mail,定时任务quartz等等</li>
</ul>
<h3>项目经验</h3>
<h4>青岛供电段供电运行检测监控系统 （2013.08-至今）</h4>
<ul>
<li>开发工具: ubuntu12.04 , JDK1.6 , JBoss7 , postgresql9.1 , maven , svn</li>
<li>技术实现：seam2.3(JSF+EJB+JPA) , Bootstrap , HighChart , Gis</li>
<li>项目描述: 与硬件公司配合,通过分析传感器传回的数据及时的了解承力索,接触线等的运行状况,避免事故的发生</li>
<li>责任描述：我负责数据库的构建及大部分设备数据列表展示和处理功能,从模块来说有设备状态展示,告警信息展示,锚段张力列表,受电弓滑块图片展示,用户管理, 车间管理,权限管理等;从功能方面说有数据展示编辑,数据可视化,excel导出,定时任务,数据异常发送邮件告警等</li>
<li>项目收获: 该项目是我做的规模最大的一个,我参与了大部分功能的构建,除了进一步熟悉了seam2.3的使用外还接触了许多有趣的东西比如数据可视化,定时任务发送邮件等</li>
</ul>
<h4>经侦支队案件管理 （2014.03-2014.06）</h4>
<ul>
<li>开发工具: ubuntu12.04 , JDK1.6 , JBoss5 , postgresql9.1 , ant , svn</li>
<li>技术实现：seam2.2(JSF+EJB+JPA) , Bootstrap</li>
<li>项目描述: 为了更好的服务案件管理工作，立足于实战，为案件管理提供统计查询、侦办期限提示等，提高侦查员工作效率，方便大队长掌控所有案件，我们开发研制了案件管理信息系统。<br>本系统采用B/S(浏览器/服务器)架构作为系统的总体结构，以数据库技术为依托，利用JAVA/EE(java企业版)技术，结合AJAX(浏览器异步请求)，实现了对Web数据库的访问和查询。</li>
<li>责任描述：我负责案件管理(包括基本案情,立案审查,侦查计划,犯罪嫌疑人,强制措施,涉案财物,回告/回访,证人通讯录,集体议案,案件总结,案卷管理,案件自查<br>,侦查工作总思路,判决书),案件到期提醒及档案管理模块开发</li>
<li>项目收获: 该项目的开发使我更加深入的理解了CDI的概念和用法,另外对java集合框架有了更好的理解</li>
</ul>
<h4>未来科技竞争力分析 （2013.10-2014.04）</h4>
<ul>
<li>开发工具: ubuntu12.04 , JDK1.6 , JBoss7 , postgresql9.1 , maven , svn</li>
<li>技术实现：seam2.3(JSF+EJB+JPA) , Bootstrap </li>
<li>项目描述: 通过分析国外期刊论文得出科技的研究热点</li>
<li>责任描述：我负责将pdf格式的论文转换成句子存入数据库并可依照关键字查询内容并展示</li>
<li>项目收获: 完整体验了一个项目的开发流程,</li>
</ul>
<h4>中石化加油卡优惠管理系统 （2013.04-2013.06）</h4>
<ul>
<li>开发工具: ubuntu12.04 , JDK1.6 , JBoss5 , postgresql9.1 , ant , svn</li>
<li>技术实现：seam2.2(JSF+EJB+JPA)</li>
<li>项目描述: 某公司会员卡与加油卡绑定以享受加油优惠</li>
<li>责任描述：编写了全部代码,主要包括一些列表,编辑和数据导入处理功能</li>
<li>项目收获: 对开发web项目有了一个清晰的认识,掌握了大量的jsf标签用法,学会了如何独立解决问题</li>
</ul>
<h4>其他</h4>
<ul>
<li>用SSH框架编写类似情侣空间网站,尚未完成,权当练习SSH</li>
<li>用Nodejs编写了小型博客系统,拥有完整的文章发布功能</li>
<li>用spring mvc做过测试型项目</li>
<li>做过两个Android app,一个是基于谷歌地图可记录行走路线.另一个是获取网页内容并展示</li>
</ul>
</div>        <!-- UY BEGIN -->
        <div id="uyan_frame" style="margin-top: 50px;"></div>
        <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1957046"></script>
        <!-- UY END -->
    </div>
</body>
</html>