<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../../style/control.css">
    <link rel="stylesheet" href="../../../style/app.css">
    <title>Nginx</title>
</head>
<body class="body">
    <div class="blog-item"><div id="" class="shadowbox note-content"><h2 class="note-title">项目>Nginx</h2>
<hr>
<p class="note-tags to-remove"><i class="icon-bookmark"></i><code>Nginx</code></p>

<blockquote>
<p>   最近在学习nginx，并且在学习源码，就先上个图吧！图来源自淘宝大牛<a href="http://www.zhihu.com/people/shudu">@叔度</a>
</p>
<p>
<img src="../../../image/source/nginx_struct.jpg">
</p>     

</blockquote>

</div>
        <!--兼容版，可保证页面完全兼容-->
<div id="SOHUCS"></div>
<script>
  (function(){
    var appid = 'cyrxhj7os',
    conf = 'prod_34b2ab97462c022b8508b82cbbd8cbbf';
    var doc = document,
    s = doc.createElement('script'),
    h = doc.getElementsByTagName('head')[0] || doc.head || doc.documentElement;
    s.type = 'text/javascript';
    s.charset = 'utf-8';
    s.src =  'http://assets.changyan.sohu.com/upload/changyan.js?conf='+ conf +'&appid=' + appid;
    h.insertBefore(s,h.firstChild);
  })()
</script>

    </div>
</body>
</html>