<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../style/reset.css">
    <link rel="stylesheet" type="text/css" href="../../style/control.css">
    <title>Project Experience</title>
</head>
<body class="body">
    <div id="blog-content">
       <h1 style="box-sizing: border-box; font-size: 2.25em; margin-right: 0px; margin-bottom: 16px; margin-left: 0px; line-height: 1.2; position: relative; padding-bottom: 0.3em; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(238, 238, 238); color: rgb(51, 51, 51); font-family: 'Helvetica Neue', Helvetica, Arial, freesans, sans-serif; white-space: normal; margin-top: 0px !important;">
        Project Experience:
      </h1>
        <ul style="box-sizing: border-box; margin-top: 0px; margin-bottom: 10px; line-height: 22.399999618530273px; color: rgb(22, 32, 41); font-family: &#39;Helvetica Neue&#39;, Arial, &#39;Hiragino Sans GB&#39;, STHeiti, &#39;Microsoft YaHei&#39;, &#39;WenQuanYi Micro Hei&#39;, SimSun, Song, sans-serif; font-size: 14px; white-space: normal;">        
    <!--daitihuan-->
    <!--projects list-->
    <li style="box-sizing: border-box; line-height: 1.6;">
                2014-12-21 -&gt;&nbsp;<a href="efigines/efigines.html" target="_self" style="box-sizing: border-box; background-color: transparent; color: rgb(32, 128, 223); text-decoration: none; outline: 0px; transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out, border-color 0.15s ease-in-out; -webkit-transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out, border-color 0.15s ease-in-out; background-position: initial initial; background-repeat: initial initial;">Efigines-基于Nginx的高性能HTTP和反向代理服务器</a>
    </li>
    <li style="box-sizing: border-box; line-height: 1.6;">
                2014-12-25 -&gt;&nbsp;<a href="boyuebbs.html" target="_self" style="box-sizing: border-box; background-color: transparent; color: rgb(32, 128, 223); text-decoration: none; outline: 0px; transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out, border-color 0.15s ease-in-out; -webkit-transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out, border-color 0.15s ease-in-out; background-position: initial initial; background-repeat: initial initial;">泊月高知人群社区-基于J2EE的C/S结构网站</a>
    </li>
    <li style="box-sizing: border-box; line-height: 1.6;">
                2014-12-25 -&gt;&nbsp;<a href="isearch.html" target="_self" style="box-sizing: border-box; background-color: transparent; color: rgb(32, 128, 223); text-decoration: none; outline: 0px; transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out, border-color 0.15s ease-in-out; -webkit-transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out, border-color 0.15s ease-in-out; background-position: initial initial; background-repeat: initial initial;">iSearch-基于Qml的图片搜索应用</a>
    </li>
    <!--projects-->
        </ul>
    </div>
</body>
</html>